<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gmall.mapper.PmsSkuAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.example.gmall.entity.PmsSkuAttrValue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="attr_id" jdbcType="BIGINT" property="attrId" />
    <result column="value_id" jdbcType="BIGINT" property="valueId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
  </resultMap>
</mapper>